@charset "UTF-8";
$fontSize : 14px;
$header-height:50px;
$footer-height:50px;
$header-font-color:#ededed;
*{
	font-size:$fontSize;
	font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
.flex-column{
	display:flex;
	flex-direction:column;
}
.flex1{
	flex:1;
}
.flex2{
	flex:2;
}
.flex3{
	flex:3;
}
.flex4{
	flex:4;
}
.flex5{
	flex:5;
}
.flex6{
	flex:6;
}
.flex7{
	flex:7;
}
.flex8{
	flex:8;
}
.flex9{
	flex:9;
}
li{
	list-style:none;
}
header.header{
	height:$header-height;
	width:100%;
	background:#333333 none repeat center top;
	ul.header-nav{
		li{
			display: inline-block;
			padding:0px 15px;
			a{
				color:$header-font-color;
				font-size:16px;
			}
		}
	}
}
footer.footer{
	height:$footer-height;
	width:100%;
}
div.content{

}