@charset "UTF-8";
$fontSize : 14px;
$header-height:50px;
$footer-height:50px;
$header-font-color:#ededed;
*{
	font-size:$fontSize;
	font-family:'Apple Lihei','Microsoft Yahei','Avenir', Helvetica, Arial, sans-serif;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
.flex-column{
	display:flex;
	flex-direction:column;
}
.flex1{
	flex:1;
}
.flex2{
	flex:2;
}
.flex3{
	flex:3;
}
.flex4{
	flex:4;
}
.flex5{
	flex:5;
}
.flex6{
	flex:6;
}
.flex7{
	flex:7;
}
.flex8{
	flex:8;
}
.flex9{
	flex:9;
}
.header{
	height:$header-height;
	width:100%;
	background:#333333 none repeat center top;
	position:relative;
	header{
		height:100%;
		.logo{
			height:100%;
			.logo-icon{
				flex-basis: 80px;
				height:100%;
				background:url("../assets/img/logo.jpg") no-repeat ;
				background-size:40px 40px;
				background-position:20px center;
			}
			.logo-msg{
				font-size:16px;
				color:$header-font-color;
				line-height:$header-height;
			}
		}
		ul.header-nav{
			height:100%;
			>li{
				display: inline-block;
				padding:0px 25px;
				height:100%;
				position:relative;
				line-height:$header-height;
				a{
					color:$header-font-color;
					font-size:16px;
				}
				& :hover{
					color:#00c1de;
					transition:color 200ms;
				}
				& :hover +.line{
					width:50px;
				}
				.header-nav-dropdown{
					position:absolute;
					width:150px;
					background:#272b2e;
					color:white;
					z-index:998;
					display: none;
					top:50px;
					left:0px;
					ul.header-nav-dropdown-container{
						padding:0px;
						li{
							display: block;
							height:40px;
							line-height:40px;
							a{
								width:100%;
								padding:0px 10px;
								display: inline-block;
								& :hover{
									color:#00c1de;
									transition:color 200ms;
								}
							}
						}
					}
				}
			}
		}
	}
}
div.content{

}
.line{
	position: absolute;
    width: 0;
    height: 3px;
    left: 115px;
    bottom: 0;
    background: #00c1de;
    transition: width .3s cubic-bezier(.4,0,.2,1) , left .3s cubic-bezier(.4,0,.2,1);
}
